<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316211630016-9sjc9j7mbeq5g630286o4h5ds8sd0ud3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316211630016-9sjc9j7mbeq5g630286o4h5ds8sd0ud3</string>
	<key>API_KEY</key>
	<string>AIzaSyAtJKZf_TzTXJaeV500vNl7aGit3K1Ovzk</string>
	<key>GCM_SENDER_ID</key>
	<string>316211630016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaanyildiz.TinderCloneLBTA</string>
	<key>PROJECT_ID</key>
	<string>tinderclonelbta-bc471</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclonelbta-bc471.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:316211630016:ios:07cb4f48e8f6339852c225</string>
</dict>
</plist>
